<nav class="primary-nav">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a href="#">
        <img class="img-circle user-avatar-60" src="images/yeoman.png" />
        <span class="nav-item-user-name">Thang Nguyen</span>
      </a>
    </li>
    <li class="nav-item" ui-sref-active="active" role="presentation">
      <a ui-sref="home">
        <span class="fa fa-home nav-item-icon"></span>
        <span class="nav-item-text">HOME</span></a>
    </li>
    <li class="nav-item" ui-sref-active="active" role="presentation">
      <a ui-sref="profile">
        <span class="fa fa-list-ul nav-item-icon"></span>
        <span class="nav-item-text">PROFILE</span>
        <span class="badge badge-notification">3</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#">
        <span class="fa fa-list-ul nav-item-icon"></span>
        <span class="nav-item-text">TODOS</span>
        <span class="badge badge-notification">9+</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#">
        <span class="fa fa-user-md nav-item-icon"></span>
        <span class="nav-item-text">CONTACTS</span>
        <span class="badge badge-notification">9+</span>
      </a>
    </li>
    <li class="nav-item" role="presentation">
      <a href="#">
        <span class="fa fa-cog nav-item-icon"></span>
        <span class="nav-item-text">SETTING</span>
      </a>
    </li>
  </ul>
</nav>
